.container_footer {
  margin-top: 50px;
  padding: 20px;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  place-items: center;
}

.container_footer_logo {
  width: 100%;
  text-align: center;
}

.container_footer_logo img {
  max-width: 180px;
  border-radius: 50%;
  margin: 40px auto;
}

.container_footer_midias {
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;

}

.container_footer_midias_links{
  margin-top: 10px;
  display: flex;
}


.container_footer_midias h1 {
  margin-bottom: 10px;
}

.container_footer_midias img {
  transition: all .4s;
  text-align: center;
  max-width: 60px;
  margin: 0 10px;
}

.container_footer_midias img:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.container_footer_copy {
  padding: 8px;
  margin-top: 10px;
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .container_footer {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }

  .container_footer_copy{
    font-size: 1rem;
  }
}